<%- include('header')%>
<form action="/product/doModify">
    <input type="text" class="form-control" name="" value="">
    <input type="text" class="form-control" name="" value="">
    <input type="file" name="file">
    <input type="text" class="form-control" name="" value="">
    <input type="text" class="form-control" name="" value="">
    <input type="submit" value="保存" />
</form>
<%- include('footer')%>